<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/modern-business.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="homePage.html">Home</a>-->
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="homePage.html">Home</a>
        </li>
        <!--<li>
          <a href="about.html">About Us</a>
        </li>-->
        <li class="active">
          <a href="services.html">Services</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
        <!--<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="portfolio-1-col.html">1 Column Portfolio</a>
            </li>
            <li>
              <a href="portfolio-2-col.html">2 Column Portfolio</a>
            </li>
            <li>
              <a href="portfolio-3-col.html">3 Column Portfolio</a>
            </li>
            <li>
              <a href="portfolio-4-col.html">4 Column Portfolio</a>
            </li>
            <li>
              <a href="portfolio-item.html">Single Portfolio Item</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="blog-home-1.html">Blog Home 1</a>
            </li>
            <li>
              <a href="blog-home-2.html">Blog Home 2</a>
            </li>
            <li>
              <a href="blog-post.html">Blog Post</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="full-width.html">Full Width Page</a>
            </li>
            <li>
              <a href="sidebar.html">Sidebar Page</a>
            </li>
            <li>
              <a href="faq.html">FAQ</a>
            </li>
            <li>
              <a href="404.html">404</a>
            </li>
            <li>
              <a href="pricing.html">Pricing Table</a>
            </li>-->
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">i8 Technologies Inc. Services
        <!--<small>Subheading</small>-->
      </h1>
      <ol class="breadcrumb">
        <li><a href="homePage.html">Home</a>
        </li>
        <li class="active">Services</li>
      </ol>
    </div>
  </div>
  <!-- /.row -->

  <!-- Image Header -->
  <div class="row">
    <!--<div class="col-lg-12">
      <img class="img-responsive" src="http://placehold.it/1200x300" alt="">
    </div>-->
  </div>
  <!-- /.row -->

  <!-- Service Panels -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Our Services</h2>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="panel-body">
          <h4>Recruitment Consulting</h4>
          <p>As functional experts we help you improve your process and make it effective. Our consultants
            including the leader of the organization bring in decades of rich functional expertise gained
            from working for different organizations across industries, size and complexities.</p>
          <a href="#service-one" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
                        <span class="fa-stack fa-5x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="panel-body">
          <h4>End to End Deployment</h4>
          <p>i8 Technologies is the preferred partner for organisations across the globe to cater to their
            professional services requirements. We partner with multiple organizations for their requirements
            and deliver quality services within the stipulated time frame.</p>
          <a href="#service-two" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Service Tabs -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Services in detail</h2>
    </div>
    <div class="col-lg-12">

      <ul id="myTab" class="nav nav-tabs nav-justified">
        <li class="active"><a href="#service-one" data-toggle="tab"><i class="fa fa-tree"></i> Recruitment Consulting</a>
        </li>
        <li class=""><a href="#service-two" data-toggle="tab"><i class="fa fa-car"></i> End to End Deployment</a>
        </li>
      </ul>

      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="service-one" name="service-one">
          <br/><br/>
          <h4>Recruitment Consulting</h4>
          <p>As functional experts we help you improve your process and make it effective. Our consultants
            including the leader of the organization bring in decades of rich functional expertise gained
            from working for different organizations across industries, size and complexities.</p>
          <p>We also take consulting assignments to understand your current process, the target you desire to achieve and gaps
            in the process and accordingly suggest changes, implement them and audit it.</p>
          <h5>Comprehensive end to end managed solutions.</h5>
          <ul>
          <li>Manpower Planning and Budgeting:</li>
          <p>We understand the annual growth plan of any organization and convert that into any manpower plan and budget.</p>
          <li>Sourcing Strategy and Execution:</li>
          <p>Based on the manpower plan and budget we formulate sourcing plan which includes how and where to hire from.</p>
          <li>Candidates Management:</li>
          <p>We at i8 Technologies provide our clients with efficient and effective flow of candidates to help them encash the
            right talent. We screen, schedule, assess, interview, coordinate and handle reject/select candidates.</p>
          <li>Offers and Document Management.</li>
          </ul>
        </div>
        <div class="tab-pane fade" id="service-two" name="service-two">
          <br/><br/>
          <h4>End to End Deployment</h4>
          <p>i8 Technologies is the preferred partner for organisations across the globe to cater to their
            professional services requirements. We partner with multiple organizations for their requirements
            and deliver quality services within the stipulated time frame.</p>
          <p>We nurture concepts like Virtual Consolidation of Bench and keenly follow the changing dynamics of
            the staffing business to create a niche of our own.</p>
          <p>Our search consultants are industry experts who have local market expertise.
            This enables them to understand the intricacies of your business and match candidates
            accordingly to make an immediate impact on your business.</p>

          <h5>Industry Focus</h5>
          <ul>
          <li>IT</li>
          <li>Manufacturing</li>
          <li>Healthcare</li>
          <li>BFSI</li>
          <li>Retail</li>
          <li>E-governance</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- Service List -->
  <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">VALUE PROPOSITION</h2>
    </div>
    <div class="col-sm-6">
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Virtual Consolidation of Bench</h4>
          <p>We have a consolidated database of consultants coming out of projects and getting into a virtual bench.
            These are resources which can be immediately deployed, as they have hands on exposure to live
            projects employing latest tools and technologies. At i8 Technologies, we have an association with
            practice based IT companies, staffing companies and also project driven companies who helps us to create
            this virtual Bench.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Practice- based / Project-based IT Consulting</h4>
          <p>Creating a niche is the necessity of the hour. i8 Technologies staffing services is
            focused towards creating specialists be it consultants, project managers or delivery managers.
            This helps our clients to look at us for their project specific needs, making us their reliable
            partner across technologies, domain and vertical.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Nationwide Services</h4>
          <p>We have the ability to deliver across the globe with global delivery teams.
            This enables us to undertake large, multi- scale contract staffing assignments.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Extensive Database of Skilled Professionals</h4>
          <p>We have an extensive database of available skilled talent for our clients
            and hence can respond immediately to their contract staffing requirements.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bomb fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">End to End Solutions</h4>
          <p>We manage the entire lifecycle of contract employees, right from interviews,
            joining and wage management till exit and other administrative functions.
            This relieves our clients to focus on their core activities.</p>
        </div>
      </div>
      <div class="media">
        <div class="pull-left">
                        <span class="fa-stack fa-2x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-bank fa-stack-1x fa-inverse"></i>
                        </span>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Quick Turnaround</h4>
          <p>We fill vacancies with relevant and competent resources, within the
            stipulated timeframe maintaining strict SLAs of selections and joining.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; i8 Technologies Inc. 2016</p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

</body>

</html>
